<% const {_id, name, artist, img_url} = song %> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<section class="section">
    <div class="container">  
        <div class="columns">
            <div class="column is-5 is-offset-1" id="source">               
                    <div class="card px-3">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <image src="<%= img_url %>"></image>
                            </figure>
                        </div>
                    
                        <div class="card-content">
                            <div class="content">
                                <p class="title has-text-centered is-size-3-dekstop is-size-5-tablet"><%= name %> </p>
                                <p class="subtitle has-text-centered is-size-6-desktop"><%= _id %> </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="button"></button>
                        </div>    
                    </div>               
            </div>
        </div>
    </div>    
</section>
<style>
    #source{
        width:350px;

    }
    

</style>