@import url("https://fonts.googleapis.com/css?family=Quicksand");


#signup{
  background-color: transparent;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

#signup:hover{
  background-color: #f5f5f5cc;
  color: black;
}


#now{
  background-color: transparent;
  color: #ff4356f3;
  border: 1px solid #ff4f61d8;
}

#now:hover{
  background-color: #ff4457d8;
  color: white;
}
#login{
  background-color: transparent;
  color: #16b887;
  border: 1px solid #11a579;
}

#login:hover{
  background-color: #14b988;
  color: black;
}

#btn-group{
  transition: 1s linear;
}

#Music{
    transition: 2s linear ;
}



.card-1  {
padding: 20px;
 border-radius: 4px;
 box-sizing: border-box;
 z-index: 100;
 box-shadow: 0 1px 3px rgba(46, 46, 46, 0.212), 0 1px 2px rgba(31, 31, 31, 0.24);
 transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
box-shadow: 0 14px 28px rgba(170, 170, 170, 0.37), 0 10px 10px rgba(0,0,0,0.22);
border-radius: 2px;
padding: 20px 0px;
}


#itunes{
  color: #f1f1f1 ;

}

#itunes:hover{
  color: #00d2b1;
}



  .card-2{
    bottom: 10%;
    padding: 5px 0;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 80;
    transition: 0.5s linear;
  }

  .card-3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(231, 227, 227, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
  
  }


  .card-3:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  #icon{
    transition: 2s linear;
  }