

#particles-js{
    width: 100%;
    height: 100vh; 
    position: fixed;
}


#submit{
    margin:1em;
    font-family: 'Quicksand';
    background-color: transparent;
    border: 1px solid rgb(75, 75, 75);
}


#dark{
    cursor: pointer;
    font-family: 'Quicksand';
    background-color: transparent;
    border: 1px solid rgb(75, 75, 75);
}

#light{
    cursor: pointer;
    font-family: 'Quicksand';
    background-color: transparent;
    border: 1px solid rgb(255, 252, 252);
    color: white;
}

#songs{
    margin-left:auto;
    margin-right: auto;
    padding: 0 1em ;
    width: 90%;
    box-shadow: 0 1px 3px rgba(27, 27, 27, 0.12), 0 1px 2px rgba(31, 31, 31, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#songs:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.main{
    position: absolute;
    top: 1%;
    left: 3%;
    width: 95%;
    height: fit-content;
}

center > nav > ul > li{
    font-size: 1.5em;
}

.otherOptions{
    display: block;
    margin: auto;
    padding: 1em;
    width: 80%;
    max-width: 85%;
}

.card-top{
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 100;
}
#itunes{
    height: 6em; width: 6em;display: block;margin: auto;color: white;
}

#itunes:hover{
    color: #00d1b2;
}



#selectedlist{
    margin: 2em;
}

.is-playing{
    background-color: #f8b8cb;
    color: #f7196e;
    border: 0.8px solid #830d2b;

}

#notification1 {
    width: 60%;
    margin: auto;
}

.is-notif{
    background-color: #dfb7f7;
    color: #280e30;
    border: 0.8px solid #280e30;
}
#header{
    margin-bottom: 2.5%;
    display: block;
    padding: 1em;
    margin: auto;
}
.yourPlaylist{
    display: block;
    max-width: 85%;
    width: 80%;
    margin: auto;
    padding: 1em;

}

#iconholder{
    width: 100%;
    height:40%;
}

#icon{
    color: #f3f3f3;
    width:6em;
    height: 6em;
    display: block;
    margin: auto;
}
#icon:hover{
    color: #00d2b1;
}



#search{
    padding: 0.5em;
    width: 100%;
}


.progress {
  background-color: rgb(39, 39, 39);
  transition: width 0.1s linear;
}