div{
    padding: 0.25em;
}

.container{
  padding-top:20px;
  margin: auto;
}
div.col-md-6 label.form-check-label{
  font-size: 0.8em;
  font-weight:500;
  padding:0.1em;
}

body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/566/196/original/abstract-geometric-square-white-background-light-and-shadow-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

footer{
    text-align: center;
    padding-bottom: 0.5em;
}